.header__container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $gray;
  background: $white;
}

.header,
.body {
  display: flex;
  justify-content: space-between;
  width: $desktop;
  margin: 0 auto;
}
.logo {
  align-self: center;
}
.logo img {
  margin-top: $tiny;
}
.menu-bar {
  display: flex;
  align-items: center;
}
.menu-bar a {
  text-decoration: none;
  margin: $small;
  color: $off-black;
  opacity: 0.8;
  transition: all 0.2s;
}
.menu-bar a:hover {
  opacity: 0.6;
}
.menu-bar .active {
  font-weight: 600;
  opacity: 1;
}
.menu-bar .user__avatar a {
  margin: 0;
}
.profile-options {
  position: relative;
  margin-top: -$medium;
  margin-left: $tiny;
}
.profile-options::before {
  content: ' ';
  border: $small solid transparent;
  border-bottom: $small solid $gray;
}
.options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray;
  margin-top: $small;
  width: 5 * $gargantuan;
  margin-left: -2 * $gargantuan;
  background: $white;
}
.options-container a {
  margin: 0;
  padding: $small;
  border: 1px solid transparent;
}
.options-container a:hover {
  background: $off-white;
  border: 1px solid $gray;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.profile-option .visible {
  visibility: hidden;
  transition: visibility 0.3s;
}
.profile-option .visible a {
  transition: all 0.3s;
}
.profile-option:hover .visible {
  visibility: visible;
}
