.header__container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $off-black;
}

.header {
  display: flex;
  justify-content: space-between;
  width: $desktop;
  margin: $small;
}
.menu-bar {
  display: flex;
  align-items: center;
}
.menu-bar a {
  width: $gargantuan;
  margin: $small;
}
