.modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  position: relative;
  margin: 0 auto;
  top: 8%;
  background: $white;
  border: 1px solid $gray;
  width: $news-feed-size;
  padding: 0 $small;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: $tiny;
  border-bottom: 1px solid $gray;
}
.modal-title {
  margin: 0 auto;
  font-size: $huge;
}
.modal-close {
  align-self: center;
  background: $gray;
  opacity: 0.6;
  padding: $tiny;
  border-radius: 50%;
  width: $large;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.modal-close:hover {
  opacity: 1;
}

.modal .user {
  display: flex;
  margin: $tiny 0;
}
.modal .user .user__details {
  flex: 1;
  align-self: center;
}

.post-area .textarea {
  width: 100%;
  height: 10rem;
  outline: none;
  border: none;
  resize: none;
}

.upload-post {
  display: flex;
  justify-content: center;
  margin-bottom: $small;
}
.upload-post button {
  background: $blue;
  padding: $small;
  border: none;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  color: $white;
  border-radius: $tiny;
}

.upload-post button:hover {
  opacity: 1;
}

.upload-photos {
  display: flex;
  margin: $small 0;
  justify-content: flex-end;
}

.upload-photos .add-image {
  padding: $tiny $gargantuan;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: $tiny;
}

.upload-photos .add-image:hover {
  background-color: $gray;
}
.hidden {
  display: none;
}

.modal .photos {
  width: 80%;
  margin: 0 auto;
}
.modal .photos img {
  border: 1px solid $gray;
}
