.new-post {
  margin: $large 0;
  background: $white;
  border: 1px solid $gray;
}
.new-post .row {
  margin: 0;
  padding: $small 0;
  display: flex;
}
.row .input-box {
  background: $gray;
  opacity: 0.5;
  flex: 1;
  margin-left: 0;
  display: flex;
  align-items: center;
  border-radius: $large;
  padding: 0 $huge;
  cursor: pointer;
  transition: all 0.3s;
}
.row .input-box:hover {
  opacity: 0.8;
}
.divider {
  margin: 0 $large;
  border-bottom: 1px solid $gray;
  opacity: 0.8;
}
.new-post .photos {
  display: flex;
  justify-content: center;
}

.new-post .photos div {
  padding: $small $gargantuan;
  margin: $small;
  border-radius: $small;
  transition: all 0.3s;
  cursor: pointer;
}
.new-post .photos div:hover {
  background: $off-white;
}
