.post-one-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post-one {
  margin: 0 auto;
  width: $desktop;
}
.modal-container.post .modal-header {
  display: flex;
  position: relative;
  justify-content: flex-end;
  border: none;
}
.modal-container.post .modal-header .modal-close {
  align-self: end;
  background: $off-black;
  transform: scale(1.5);
  margin: $medium;
  float: right;
  color: $off-white;
}
.post-one .news-feed {
  width: $desktop;
  display: flex;
}

.post-one .post__header {
  width: $news-feed-size;
  border-right: 1px solid $gray;
  padding-bottom: $huge;
}

.post-one .all-comments {
  display: flex;
  flex-direction: column;
}
.post-one .all-comments .comments-container {
  height: inherit;
  height: 35rem;
}

.post-one .post__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  width: 100%;
}

.post-one form {
  border: 1px solid $gray;
  border-right: none;
  margin: 0 -$small;
}
.post-one .responses {
  margin-top: $large;
}
.post-one .post__footer .post__time {
  margin-bottom: $huge + $tiny;
  margin-left: $gargantuan + $huge;
  font-size: $small;
  position: absolute;
}
