html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $medium;
  background: $off-white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(117, 117, 121, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(117, 117, 121, 0.8);
}
