$off-black: #20222b;
$off-gray: #999;
$off-white: #f5f5f5;
$gray: #c4c4c4;
$white: #fff;
$orange: #ff5500;
// Spacing
$tiny: 0.8rem;
$small: 1.2rem;
$medium: 1.6rem;
$large: 2rem;
$huge: 3.2rem;
$gargantuan: 4.8rem;
$desktop: 96rem;
$news-feed-size: 60rem;
$desktop-breakpoint: 45rem;
$post-image: 40rem;
