$off-black: #20222b;
$off-gray: #999;
$off-white: #eee;
$gray: #c4c4c4;
$white: #fff;
// Spacing
$tiny: 0.8rem;
$small: 1.2rem;
$medium: 1.6rem;
$large: 2rem;
$huge: 3.2rem;
$gargantuan: 4.8rem;
$desktop: 96rem;
$desktop-breakpoint: 45rem;
